<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - VueJS 2 Simple Shopping cart</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" class="container">
   <div class="text-right"><button class="btn btn-primary" data-toggle="modal" data-target="#cartModal">Cart ({{totalItems}})</button></div>
  
   <!-- Modal --> 
<form>
   <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">          
								 <span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Cart</h4>
            </div>
            <div class="modal-body">
               <shopping-cart inline-template :items="cartItems">
                  <div>
                     <table class="table table-cart">
                        <tr v-for="(item, index) in items">
                           <td>{{item.title}}</td>
                           <td style="width:120px">数:
                              <input v-model="item.qty" class="form-control input-qty" type="number" min="1">
                           </td>
                           <td class="text-right">{{item.price | formatCurrency}}円</td>
                           <td>
                              <button @click="removeItem(index)"><span class="glyphicon glyphicon-trash"></span></button>
                           </td>
                        </tr>
                        <tr v-show="items.length === 0">
                           <td colspan="4" class="text-center">Cart is empty</td>
                        </tr>
                        <tr v-show="items.length > 0">
                           <td></td>
                           <td class="text-right">Cart Total</td>
                           <td class="text-right">{{Total | formatCurrency}}円</td>
                           <td></td>
                        </tr>
                     </table>
                  </div>
                  <!-- /.container -->
               </shopping-cart>
            </div>
            <div class="modal-footer">
           



<input type="hidden" name="breed" value=Total>




   
<input type="submit" data-dismiss="modal"  class="btn btn-default"  value="注文する（Close）">
</form>
      <!--- <button type="button" class="btn btn-default" data-dismiss="modal">注文する（CLOSE）</button>--->

            </div>
         </div>
      </div>
   </div>
	
   <div class="container">
      <div class="row">
         <div class="col-xs-3 text-center" v-for="item in items">
            <img class="img-responsive" :src="item.image" alt="">
            <h5>{{ item.title }}</h5>
            <h6>{{ item.price | formatCurrency }}円</h6>
            <p class="text-center"><input v-model="item.qty" type="number" class="form-control" placeholder="Qty" min="1"/></p>
							 
               <button @click="addToCart(item)" class="btn btn-sm btn-primary">カートに入れる</button>
            </p>
         </div>
      </div>
   </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script><script  src="./script.js"></script>
<script src='liff.js'></script>
<script src='index.js'></script>
</body>
</html>
